body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #fff;
	background:#1B1B1B;
	height: 100%;
	text-align:center;
}

h3 {
	font-size: 20px;
}

.logo-holder {
	position: relative;
	top:0;
	left:0;
	width:30%;
	height: auto;
}

.logo-inner {
	position: absolute;
	margin-top: 50%;
	left:0;
	width:100%;

}
.logo-inner h3 {
	font-size: 25px;
  line-height: 34px;
  text-transform: uppercase;
  float: left;
  margin-top: 30px;
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-weight: 100;
}

.logo-inner img {
  width: 400px;
  height: 350px;
  margin: 0 0 -50px 0;
}

#particles-js {
  height: 100%;
  position: relative;
}

.content {
	float:left;
	width: auto;
	margin-left: 75%;
	position: absolute;
	height: 50px;
  margin-top: 20%;
  padding-left: 50px;
}

.container{
	max-width: 1224px;
	width:92%;
	margin: auto;
	position: relative;
	height:100%;
}

.box-inner{
	width:100%;
	position:absolute;
	top: 0%;
	left:0;

}
.box {
	float:left;
	width:33.3%;
	position:relative;
	padding:20px;
  text-decoration: none;
}

.box nav {
	float: left;
	width: 100%;
	color: #ffffff;
	font-size:16px;
	padding-bottom:10px;
	letter-spacing:7px;
	text-transform:uppercase;
	text-align:left;
	font-weight:200;
}

.box a {
  text-decoration: none;
  color: #fff;
}

.box a:hover {
  color: #cccccc;
  text-decoration: underline;
}

.box li {
  padding: 10px;
  display: block;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
  letter-spacing:2px;
  font-weight: 100;
}

footer p {
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  font-size: 15px;
  letter-spacing:2px;
  font-weight: 100;
}

.temp {
  height: auto;
  float: left;
  margin-left: 20%;
  margin-top: 25%;
  position: absolute;
  font-size: 50px;
  font-weight: 100;
}
